.choose-payment-method {
  width: 385px;
  height: 685px;
  background-color: white;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
