.container {
  background-color: var(--main-bg);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.spinner {
  width: 100px;
  height: 100px;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}
.cancelButton {
  font-size: 1rem;
}
