.wash-details-header,
.wash-details-header-recommended {
  color: var(--secondary-text-color);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 292px;
  height: 90px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202123;
  border-radius: 30px 30px 0 0;
}

.wash-details-header-recommended {
  width: 312px;
  height: 1015px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 30px;
}

.recommended-label {
  font-size: 28px;
  margin-bottom: 20px;
}

.wash-type-label {
  margin-top: 27px;
}

.wash-details-content-wrapper,
.wash-details-content-wrapper-recommended {
  padding: 10px;
  background-color: white;
  border-radius: 17px;
  margin-top: -15px;
}

.wash-details-content-wrapper-recommended {
  position: absolute;
  margin-top: 0;
  top: 75px;
  left: 10px;
}

.wash-details-list-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.wash-details-container {
  width: 292px;
  height: 1015px;
  border-radius: 30px;
  z-index: 10;
}

.wash-details-duration {
  background-color: var(--duration-bg);
  color: var(--text-color);
  width: 272px;
  height: 70px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  font-size: 30px;
  text-align: center;
}

.wash-details-double {
  color: var(--primary);
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  margin-left: 2px;
}

.wash-details-entry {
  width: 242px;
  border-radius: 12px;
  min-height: 30px;
  background-color: var(--details-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 10px 13px 20px;
  font-size: 28px;
  text-align: start;
  font-weight: bold;
}

.wash-details-is-active-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
}

.amount-button {
  width: 131px;
  height: 70px;
  background-color: var(--primary);
  border-radius: 12px;
  border: none;
  color: var(--secondary-text-color);
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.amount-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.language-toggle-container {
  display: flex;
  width: 292px;
  height: 70px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-option {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  color: white;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.toggle-option.active {
  background-color: #1e70ff;
  color: white;
}

.payment-methods-container,
.payment-methods-container-big {
  width: 292px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  background-color: white;
  border-radius: 20px;
}

.payment-methods-container-big {
  gap: 32px;
}

.payment-methods-text,
.payment-methods-text-big {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 111px;
  margin-top: 5px;
}

.payment-methods-text-big {
  font-size: 27px;
  line-height: 27px;
}
