.custom-back-button-wrapper {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.custom-back-button-container {
  position: relative;
  width: 228px;
  height: 70px;
}

.custom-back-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.custom-back-button-content {
  position: absolute;
  top: 0;
  left: 17%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 2;
}

.custom-back-icon-image {
  width: 43px;
  height: 25px;
  margin-right: 12px;
}

.custom-back-button-text {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: 'Qafi X', sans-serif !important;
  margin-top: 5px;
}

.gel-button,
.plus-button {
  width: 460px;
  height: 188px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 80px;
}

.gel-button {
  background-color: white;
}

.plus-button {
  background-color: var(--bog-button-bg);
}
